/* omar code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: white;
}

/* Fix FOR UI Glitches (Bootstrap CSS Overrides) FOR EXcalidraw */
.excalidraw .dropdown-menu {
  display: block !important;
  z-index: 1050 !important;
}
.dropdown-menu{
  --bs-dropdown-padding-y: 0rem
  }
/* END of fix */